[Unit]
Description=xremap - wordstar keys
PartOf=graphical-session.target
Wants=xdg-desktop-autostart.target
After=xdg-desktop-autostart.target

[Service]
Type=simple
Restart=always
ExecStart=xremap --watch=config %h/.config/xremap/wordstar.yml

[Install]
WantedBy=default.target
